/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
  }
  
  button {
    background-color: #6C63FF; /* A nice purple color */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px;
  }
  
  button:hover {
    background-color: #574bc4;
  }
  
  /* Home Page */
  .home-container {
    text-align: center;
    padding: 50px;
  }
  
  header h1 {
    font-size: 2.5rem;
    color: #6C63FF;
  }
  
  header p {
    font-size: 1.2rem;
    color: #555;
  }
  
  main button {
    margin-top: 20px;
  }
  
  /* Scheduling Page */
  .schedule-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .schedule-container header h1 {
    color: #6C63FF;
    font-size: 2rem;
  }
  
  .schedule-container p {
    font-size: 1.2rem;
    color: #555;
  }
  
  .time-slot-container {
    margin: 20px 0;
  }
  
  input[type="datetime-local"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
    background-color: #f7f7f7;
  }
  
  input[type="datetime-local"]:focus {
    outline: none;
    border-color: #6C63FF;
    background-color: #fff;
  }
  